<div class="container bodyWrapper">
  <p>
    Start time: <%= @session.start_time %>
  </p>

  <p>
    End time: <%= @session.end_time %>
  </p>

  <p>
    Listing status: <%= @session.session_active_inactive %>
  </p>
</div>
