<h1>Video</h1>
<div id='video-error-msg'>
</div>

<div class='consultant-video col-md-offset-2 col-md-8'>
	<div id="subscriber">
	</div>
	<div id="publisher">
	</div>
</div>

<script>
	// initialize a session
	var apiKey = '<%= @api_key %>'
	var sessionId = '<%= @consultant_session.video_sessions_id %>'
	var token = '<%= @token %>'
</script>