<div class="container-fluid text-center bodyWrapper">
<div class="col-md-6">
<div class="form-consultant">
  <h2>Apply to be a consultant</h2> 
  <%= render partial: '/consultants/form'%>

</div>
</div>
</div>
