<div class="container-fluid text-center bodyWrapper">
  <br />
  <br />
  <div class="form-consultant">
    <h2>Apply to be a consultant</h2>
    <%= render partial: '/consultants/form'%>

  </div>
</div>
