<div class="jumbotron">
<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
<source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
<source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
</video>
	 <div class="container text-center">
	  <h3 class="headerTitle"> MakingCents for future </h3>
	 </div>
</div>

<div class="container-fluid text-center">
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
      <div class="caption">
      <h2>Title<br>
      <small>Description</small>
      </h2>
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
      <div class="caption">
      <h2>Title<br>
      <small>Description</small>
      </h2>
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
      <div class="caption">
      <h2>Title<br>
      <small>Description</small>
      </h2>
      </div>
      </div>
      </div>
   </div>
  </div><br>

  <div class="container-fluid text-center">
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
      <div class="caption">
      <h2>Title<br>
      <small>Description</small>
      </h2>
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
      <div class="caption">
      <h2>Title<br>
      <small>Description</small>
      </h2>
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
      <div class="caption">
      <h2>Title<br>
      <small>Description</small>
      </h2>
      </div>
      </div>
      </div>
   </div>
  </div>


<%= render "categories/index" %>
