<div class="bodyWrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<a class="buttonContainer" href="/consultants/new">
					<div class="wantToAdvice"></div>
						<div class="container-fluid alignText">
							<p class="mediumText pushUp">
								<strong>I AM</strong>
							</p>
							<br />
							<p class="largeText pushUp">
								<strong>A FINANCIAL ADVISOR</strong>
							</p>
						</div>
					</a>
				</div>

			<div class="col-sm-6">
				<a class="buttonContainer" href="#categories">
					<div class="wantAdvice"></div>
					<div class="container-fluid alignText">
						<p class="mediumText pushUp">
							<strong>I AM</strong>
						</p>
						<br />
						<p class="largeText pushUp">
							<strong>LOOKING FOR FINANCIAL</strong>
						</p>
						<br />
						<p class="largeText pushUp">
							<strong>ADVICE</strong>
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid">
	<div class="landingBanner alignText">
		<p class="mediumText"><strong>FREEDOM THROUGH FINANCIAL LITERACY</strong></p>
		<br />
		<br />
		<p class="smallText">
			Always wanted to get some financial advice but didn't know where to get started? Overwhelmed by the sheer amount of information on the web? Want a specific answer to a personal financial question?
		</p>
		<br />
		<p class="smallText">
			Making Cents has the answers for you! Search and compare financial advisors to get the best fit for you. Get quick individualized advice for extremely affordable rates. Seek second or third (or more!) opinions on various financial matters. It's financial advice without any pressure, from the comfort of your home.
		</p>
		<br />
		<p class="smallText">
			Making Cents. Your one-stop financial advice solution.
		</p>
	</div>
</div>

<div id="categories">
	<%= render "categories/index" %>
</div>


<br />
<br />
<div class="container-fluid">
	<div class="pageFooter">
		<p class="mediumText">
			<strong>Contact us!</strong>
		</p>
	</div>
</div>
