// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto'!important;
  background-color: #ECECEA;
}

.col-sm-6 {
	padding: 0;
}

.wantToAdvice {
	height: 600px;
	width: 100%;
	background-image: url('/assets/givingadvice.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	opacity: 0.75;
}

.wantToAdvice:hover {
	opacity: 0.5;
}

.wantAdvice {
	height: 600px;
	width: 100%;
	background-image: url('/assets/lookingfor.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	opacity: 0.75;
}

.wantAdvice:hover {
	opacity: 0.5;
}

.extrasmallText {
	font-family: 'Helvetica Neue';
	font-size: 15px;
}

.smallText {
	font-family: 'Helvetica Neue';
	font-size: 20px;
}

.smallWhiteText {
	font-family: 'Helvetica Neue';
	font-size: 20px;
	color: #ECECEA;
}

.mediumText {
	font-family: 'Helvetica Neue';
	font-size: 30px;
}

.largeText {
	font-family: 'Helvetica Neue';
	font-size: 45px;
}

.alignText {
	text-align: center;
}

.pushUp {
	width: 100%;
	text-align: center;
	position: relative;
	top: -350px;
	left: 40px;
}


// landing banner
.landingBanner {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 350px;
	background-color: #ECECEA;
}

// page footer
.pageFooter {
	height: 350px;
	background-color: #3e4141;

}

// other stuff
.not-transparent {
	background-color: rgba(255, 255, 255, 0.87) !important;
	z-index: 1000 !important;
}

.blur-page {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  z-index: 10;
}
