.navbar {
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	background-color: transparent;
	color: #2D2D2D;
	border-color: transparent;
}

.navbar-default .navbar-brand {
  color: #2D2D2D;
	padding: 5px;
	padding-top: 10px;
	padding-left: 15px;
}

.navbar-header {
	color: #2D2D2D;
}

body {
	font-family: 'Roboto';
	color: #2D2D2D;
}
