.navbar {
	margin-bottom: 0 !important;
	position: fixed !important;
	width: 100% !important;
	background-color: transparent !important;
	color: #2D2D2D !important;
	border-color: transparent  !important;
}

.navbar-header {
	color: #2D2D2D !important;
}

body {
	font-family: 'Roboto';
	color: #2D2D2D !important;
}
