// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn.btn-primary {
	background-color: red;
}

#clearance {
	text-align: center;
}

.panel-default{
	border: 2px solid !important;
}

.sessionWrapper {
	border: 2px solid;
}
