// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*button classes*/
.btn-fb, .btn-google{
	border: 1px solid black; 
}

.btn-fb {
	background-color: #0E167C;
}

.btn-google {
	background-color: #AF2828;
}

.clearance {
	text-align: center;
}

.panel-default{
	border: 2px solid !important;
}

.sessionWrapper {
	border: 2px solid;
}