.sign-up{
	background-color: #3891A6;
}

/*button classes*/
.btn-sign-up {	
	background-color: #151E3F;
	color: #F5F5F5;
}

/*label classes*/

/*columns*/
.col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

  .col-md-offset-3 {
    margin-left: 25%;
  }